<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MicroFrontend Demo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/react-mfe">React MFE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- app.component.html -->
<!--Uncomment the below for tabbed view-->
<!-- <router-outlet></router-outlet> -->

<!--loading two MFEs at once-->
<div style="display:flex">
<router-outlet name="gallery-outlet"></router-outlet>
<router-outlet name="product-outlet"></router-outlet>
</div>
<a [routerLink]="[{ outlets: { 'gallery-outlet': ['gallery'], 'product-outlet': ['products'] } }]"
(click)="loaded = true"
*ngIf="!loaded"
>Load MFEs</a>

<router-outlet></router-outlet>



